/*box-shadow -> ombres*/

.LaMetricLogo {
    background-color:rgb(214, 204, 204);
    width: 98vw;
    height: 5vw;
    margin-left: center;
    object-fit: none;
  }

.Sections {
    background-color: rgb(223, 234, 129);
    display: flex;
    list-style-type: none; /*enlève le style par défaut*/
    margin: 10px;
    height: 5vw;
    padding: 0;
    text-indent: 5vw;
    font-size: 1.3vw;
    justify-content: center;
    align-items: center;
    font-family: Silkscreen;
    /*justify-content: space-between*/
}

.Sections a{
  text-decoration: none;
  color: black;  
}

.Sections a:hover{
  color:#a9abba;
}

.slider { /*Défini la taille du cadre pour les slides*/
  width: 800px;
  margin: 30px auto;
  position: relative;
}

.slider-viewport { /*Transforme les éléments de la classe "slide" en */
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slider-content { /*Défini quel type de conteneur est utilisé et le temps entre chaque transition*/
  display: grid;
  grid-auto-flow: column; /*Ajoute une colonne dans la grille pour chaque ilage ajoutée*/
  -webkit-transition: 1s all;
  transition: 1s all;
}

.slider-content img { /*Défini la dimension des images*/
  width: 800px;
  height: 400px;
}

.slider-nav {
  position: absolute;
  width: 100%;
  bottom: -30px;
  margin-top: 10px;
  text-align: center;
}

.slider-nav a {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
  display: inline-block;
  background-color: #adafbc;
  width: 15px;
  height: 15px;
  margin: 0 3px;
}

.slider-nav a:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
}

#img2:target .slider-content {
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
}

#img3:target .slider-content {
  -webkit-transform: translateX(-1600px);
          transform: translateX(-1600px);
}

.MediumBody{
  text-align: end;
  margin-bottom: 0;
}

.MediumBar{
  height: 5vw;
  background-color: rgb(225, 215, 215);
}

.ParagraphSection{
  margin-bottom: 10vw;
  
}

.Container{
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
}

.ImageLeft img{
  width: 15vw;
  height: 29vw;
  margin-top: 10vw;
}

.ParagraphRight{
  width: 80%;
  margin-top: 13vw;
}

.FirstBlock{
  text-align: left;
  padding-left: 13vw;
  padding-right: 0;
}

.FirstTitle{
  font-size: 3em;
}

.FirstParagraph{
  font-size: 1.2em;
  font-family: Silkscreen;
}

.Transparance{
  height: 25vw;
  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://lametric.com/sites/default/files/2020-11/lametric_music_gif-min.gif);
  background-position: center;
  background-size:contain;
  color: #ffffff;
  padding: 1em;
  text-align: center;
}

.Text{
  margin-top: 12%;
  font-size: 3em;
}

.BottomBar{
  margin-top: 4%;
  height: 1vw;
  background-color: black;
}

.Logo{
  margin-top: 3%;
  list-style: none;
  /*display: flex;*/
}

.SocialSection img{
  float: left;
  display: flex;
  margin: 15px;
  margin-top: 3vw;
  margin-left: 5vw;
  height: 5vw;
  padding-left: 4vw;
  padding-bottom: 2vw;
}

.SocialSection {
  float: left;
  display: flex;
  margin: 15px;
  margin-top: 1vw;
  margin-left: 5vw;
  height: 5vw;
  margin-left: 14vw;
}